.Unauthorized {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px);
  }
  
  .Unauthorized > img {
    width: 50%;
  }
  
  .Unauthorized-message {
    color: white;
  }
  